.Output-Screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: 100%;
}

.Player-Stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.Player-Stats-Title {
  color: #DA8D2D;
  text-shadow: 2px 2px 2px #3f2a14;
  font-weight: bold;
}

.Player-Stats-Row {
  color: #DA8D2D;
  padding-left: 10px;
}

.Calculated-Output {
  color: white;
}
